/* All styles for your Card Components live here */
.card-container {
    max-width: 348px;
    padding-left: 45px;
}

.card-banner {
    max-width: 99%;
    max-height: 92%;
    background-image: url("https://ibin.co/3wnC6SgIOJud.png");
    resize: cover;
}

.card-content {
    padding-left: .5rem;
    margin-top: -5px;
    line-height: .5rem;
}