/* All styles for your header Components live here */

.header-container {
    display: flex;
    flex-direction: row;
    max-width: 393px;
}

.image-thumbnail {
    width: 42px;
    height: 46px;
    padding: 2px;

}

.header-content {
    width: 348px;
    display: flex;
    flex-direction: column;
}


.header-title {
    margin-bottom: -10px;
    display: flex;
    align-items: center;
}


